// Typography.scss
@import 'mixins';

$regular: 'ProximaNovaRegular', arial, sans-serif;
$medium: 'ProximaNovaAltSemibold', arial, sans-serif;

.btn {
	background: $orange;
	color: #fff;
	font-family: $medium;
	font-size: em(16);
	text-align: center;
	display: inline-block;;
	border-radius: 3px;
	padding: 15px;
	transition: all ease-in-out 300ms;


	&:hover {
		color: #fff;
	}
}

.blue-btn {
	background: $blue;
}

.light-blue-btn {
	background: $light-blue;
}

.border-btn {
	border: 2px solid #fff;
	display: inline-block;
	text-align: center;
	@include border-radius(3px);
	padding: 15px 0px;
	width: 200px;
	color: #fff;
	font-size: em(16);
	transition: all ease-in-out 300ms;

	&:hover {
		
		background: #fff;
	}
}


@media screen and (max-width: 480px) {
	.pink-btn {
	    font-size: 1em;
	    width: initial important;
	}

	.btn {
		padding: 10px 15px;
		font-size: em(14);
	}
}