// form.scss

@import 'mixins';

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-family: $regular;
	border: 1px solid #ccc;
	box-shadow: none;
	font-size: em(14);
	padding: 12px 10px;
	border-radius: 2px;
	margin-bottom: 25px;
	height: inherit !important;

	&:focus {
		box-shadow: none;
		border: 1px solid $blue;
	}
}

input[type="submit"] {
	border: none;
	width: 100%;
	margin-top: 20px;
	text-transform: uppercase;
}

textarea {
	min-height: 100px;
}

select {
	font-family: $regular;
	border: 1px solid #ccc;
	box-shadow: none;
	padding: 12px 30px 12px 12px;
	border-radius: 2px;
	margin-bottom: 25px;
	height: inherit !important;

	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.field-error {
	border: 1px solid red !important;
}

input.input-group-field {
	margin-bottom: 0;
}