// Mixins

// Variables
$orange: #F38534;
$header-black: #373737;
$body-black: #4B4B4B;
$blue: #4255A2;
$light-blue: #55A3EE;
$footer-bg: #263139;

// Function to convert from px to em 
$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition ($which, $time, $beizer) {
	-webkit-transition: $which $time $beizer;
	-moz-transition: $which $time $beizer;
	-o-transition: $which $time $beizer;
	-ms-transition: $which $time $beizer;
	transition: $which $time $beizer;
}
