// Typography.scss

@font-face {
    font-family: 'ProximaNovaAltSemibold';
    src: url('../fonts/MarkSimonsonProximaNovaAltSemibold.eot');
    src: url('../fonts/MarkSimonsonProximaNovaAltSemibold.eot') format('embedded-opentype'),
         url('../fonts/MarkSimonsonProximaNovaAltSemibold.woff2') format('woff2'),
         url('../fonts/MarkSimonsonProximaNovaAltSemibold.woff') format('woff'),
         url('../fonts/MarkSimonsonProximaNovaAltSemibold.ttf') format('truetype'),
         url('../fonts/MarkSimonsonProximaNovaAltSemibold.svg#MarkSimonsonProximaNovaAltSemibold') format('svg');
}


@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/MarkSimonsonProximaNovaRegular.eot');
    src: url('../fonts/MarkSimonsonProximaNovaRegular.eot') format('embedded-opentype'),
         url('../fonts/MarkSimonsonProximaNovaRegular.woff2') format('woff2'),
         url('../fonts/MarkSimonsonProximaNovaRegular.woff') format('woff'),
         url('../fonts/MarkSimonsonProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/MarkSimonsonProximaNovaRegular.svg#MarkSimonsonProximaNovaRegular') format('svg');
}




$regular: 'ProximaNovaRegular', arial, sans-serif;
$medium: 'ProximaNovaAltSemibold', arial, sans-serif;


// Function to convert from px to em 
$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

h1,h2,h3,h4,h5 {
	font-family: $medium;
}

h1 {
	font-size: em(48);
}

h2 {
	font-size: em(36);
}

h3 {
	font-size: em(24);
}

h4 {
	font-size: em(18);
}