@import 'typography';
@import 'buttons';
@import 'form';
@import 'mixins';
@import 'general';

body {
	font-family: $regular;
}

p {
	margin-bottom: 0
}

.table {
	display: table;
	height: 100%;
	width: 100%;
}

.table-cell  {
	display: table-cell;
  	vertical-align: middle;
}

header {
	background: url(../img/mainbg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 10px 0 100px;

	.logo {
		margin-top: 15px;
	}

	h1 {
		color: #fff;
		margin-bottom: 10px;
	}

	p {
		font-size: em(18);
		color: #fff;
		margin-bottom: 30px;
	}

	.jumbo {
		padding: 150px 0 100px;
	}

	.btn {
		text-transform: uppercase;
	}

	ul {
		text-align: right;
		margin-top: 30px;
 
		li {
			color: #fff;
			display: inline-block;
			font-family: $medium;
			text-transform: uppercase;
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}



			a {
				color: #fff;
				padding: 10px 15px;
				font-size: em(13);

				&:hover  {
					color: #fff;
				}

				&.border {
					border: 1px solid #fff;
					@include border-radius(30px);
				}
			}
		}
	}
}


.welcome {
	padding: 100px 0;
	text-align: center;
	// background: #F7F6F6;
	h3 {
		color: $header-black;
		margin-bottom: 20px;
	}

	p {
		color: $body-black;
		font-size: em(16);
	}
}


.process {
	padding: 80px 0;
	text-align: center;

	h3 {
		color: $header-black;
		margin-bottom: 15px;
	}

	img {
		margin-bottom: 20px;
	}

	p {
		color: $body-black;
	}
}


.features {
	background: url(../img/features.jpg);
	background-size: cover;
	background-position: center center;
	padding: 100px 0;

	h3 {
		color: $header-black;
		margin-bottom: 15px;
		// text-transform: uppercase;
	}

	ul {
		li {
			margin-bottom: 5px;
			color: $body-black;
			margin-left:0;
			padding-left: 30px;

			&:before {
				content: "";
				width: 14px;
				height: 12px;
				background: url(../img/check.svg);
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				margin-left: -25px;
				margin-top: 5px;
			}
		}
	}

}

.steps {
	margin-top: 50px;
}




.pricing {
	background: url(../img/pricingbg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	text-align: center;

	h3 {
		color: #fff;
		margin-bottom: 15px;
	}

	p {
		color: #fff;
	}

	.sub {
		font-size: em(16);
	}
}

.pricing-table {
	background: #fff;
	border-radius: 2px;
	margin-top: 50px;
	margin-bottom: 40px;
}

.price-head {
	padding: 30px 20px 30px;
	text-align: center;
	font-size: em(18);
	font-family: $medium;

	.plan {
		color: $header-black;
		font-family: $medium;
		margin-bottom: 10px;
		font-size: em(16);

	}
	

	.amount {
		font-size: em(28);

		 &.bronze{
		 	color: $orange;
		 }

		 &.silver {
		 	color: $blue;
		 }

		 &.gold {
		 	color: $light-blue;
		 }

		 span {
		 	font-size: 18px;
		 	color: $body-black;
		 	// font-family: $regular;
		 }
	}
}

.cta-btn {
	padding: 15px 20px;

	.btn {
		width: 100%;
		text-transform: uppercase;
	}
}

.feature-list {
	background: rgba(215,215,215,0.30);
	padding: 20px;

	p {
		color: $body-black;
		// line-height: 2;
		margin-bottom: 5px;
		font-size: em(13);
	}
	
}


.client {
	padding: 100px 0;
	text-align: center;
	background: #fbfbfb;

	h3 {
		// text-transform: uppercase;
		margin-bottom: 15px;
		line-height: 1.5;
		color: $header-black;
	}

	p {
		margin-bottom: 40px;
		color: $body-black;
	}
}


.get-started {
	background: url(../img/getstarted.jpg);
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	color: #fff;
	text-align: center;

	h2 {
		text-transform: capitalize;
		margin-bottom: 20px;
	}

	p {
		font-size: em(16);
		margin-bottom: 30px;
	}

	.btn {
		text-transform: uppercase;
	}
}



// FOOTER

footer {
	background: $footer-bg;
	padding: 80px 0 30px;

	h4 {
		color: #fff;
	}

	p {
		color: #A1A3A4;
	}

	.copyright {
		border-top: 1px solid #616161;
		margin: 80px 0 0;
		padding-top: 20px;
	}

	.partners {
		margin-top: 20px;
		color: #fff;
		font-family: $medium;
		margin-bottom: 10px;
	}
}

.success-ctn {
	padding: 200px 0 0;
}

.success-box {
	background: #f8f8f8;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 40px 40px;
	text-align: center;
	@include border-radius(3px);
	box-shadow: 0px 0px 1px #ccc;

	img {
		margin-top: -50px;
		margin-bottom: 40px;
	}

	span{
			display: block;
			margin-bottom: 10px;
			font-size: em(24);
		}

	p {
		text-align: center;
		margin-bottom: 30px;
		font-size: em(16);
	}
}

.form-head {
	background: $footer-bg;
	padding: 15px 0;
	text-align: center;
}

.form-body {
	padding: 100px 0;

	h2 {
		color: $header-black;
		text-align: center;
		font-family: $regular;
	}

	p {
		text-align: center;
		font-size: em(14);
		margin-top: 20px;
	}
}

.form-ctn {
	margin-top: 50px;
	padding: 30px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;

	label {
		font-size: em(14);
		line-height: 1.4;
		margin-bottom: 5px;
	}
}

.menu-icon {
	display: none;
	cursor: pointer;
	float: right;
	color: #fff;
	margin-right: 60px;
	text-transform: uppercase;
	margin-top: 4px;
	margin-bottom:0;

	&:after {
		display: none;
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background: #fefefe;
		top: 3px;
		left: 60px;
		right: 30px;
		box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
	}
}

.mobile-menu {
	text-align: center;
	text-transform: uppercase;
	font-size: em(13);
	color: #fff;
	display: none;
	background: $footer-bg;

	a {
		padding: 15px 0;
		display: block;
		color: #fff;
		border-top: 1px solid #515151;
	}
}

 #nav-icon3 {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0px;
  float: right;
margin-top: 5px;
margin-right: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}




@media screen and (max-width: 768px) {
	header {
		padding: 0;
		// background: url(../img/mainbg_medium.jpg);
		// background-size: cover;
		background-position: right center;

		.navbar {
			background: $footer-bg;
			padding: 15px 0;
		}


		ul {
			display: none;
		}

		.logo {
			margin-top: 0;
		}

	}

	.jumbo {
		padding: 100px 0 0;
	}

	.price-head {
		.plan {
			font-size: em(14);
			margin-bottom: 20px;
		}

		.amount {
			font-size: 1.5em;
			line-height: 1;

			span {
				font-size: 14px;
			}
		}
	}

	.pricing {
		background: url(../img/pricingbg_medium.jpg);
		background-size: cover;
		background-position: center center;
	}

	#nav-icon3 {
		display: block;
	}
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 2em;
	}

	h2, h3 {
		line-height: 1.2;
	}

	
	header {
		padding: 0;
		// background: url(../img/mainbg_small.jpg);
		// background-size: cover;
		background-position: right center;

		
		
		.jumbo {
			padding: 80px 0;
		}

		p {
			font-size: em(14);
			line-height: 1.5;
		}
	}

	.welcome, .features, .client, .get-started, .pricing  {
		padding: 50px 0;
	}

	.features {
		background-position: center center;
		ul {
			li {
				margin-bottom: 10px;
				line-height: 1.5;
			}
		}
	}

	.steps {
		p {
			margin-bottom: 40px;
		}
	}

	.welcome {
		p {
			font-size: em(14);
		}
	}

	.get-started {
		h2 {
			font-size: 2em;
		}
	}

	.feature-list {
		p {
			margin-bottom: 15px;
			line-height: 1.3;
		}
	}

	.pricing {
		background: url(../img/pricingbg_small.jpg);
		background-size: cover;
		background-position: center center;
	}

	.price-head {
		.plan {
			font-size: em(14);
			margin-bottom: 20px;
		}

		.amount {
			font-size: 1.5em;
			line-height: 1;

			span {
				font-size: 14px;
			}
		}
	}

	footer {
		text-align: center;
		padding: 50px 0;

		h4 {
			margin-top: 40px;
		}

		.copyright {
			font-size: em(12);
		}
	}

	.form-body {
		padding: 50px 0;

		h2 {
			font-size: 1.5em;
			margin-bottom: 0px;
		}
	}

	.form-head {
		text-align: left;
	}

	.success-ctn {
		padding-top: 100px;

		span {
			font-size: em(16);
		}

		p {
			font-size: em(14);
		}
	}

	.success-box {
		padding: 0 10px 40px;

		img {
			height: 70px;
			margin-top: -35px;
		}
	}
	
}

