.btn {
  background: #F38534;
  color: #fff;
  font-family: "ProximaNovaAltSemibold", arial, sans-serif;
  font-size: 1.14286em;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  transition: all ease-in-out 300ms;
}

.btn:hover {
  color: #fff;
}

.blue-btn {
  background: #4255A2;
}

.light-blue-btn {
  background: #55A3EE;
}

.border-btn {
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 0px;
  width: 200px;
  color: #fff;
  font-size: 1.14286em;
  transition: all ease-in-out 300ms;
}

.border-btn:hover {
  background: #fff;
}

@media screen and (max-width: 480px) {
  .pink-btn {
    font-size: 1em;
    width: initial important;
  }
}
