@font-face {
  font-family: 'ProximaNovaAltSemibold';
  src: url("../fonts/MarkSimonsonProximaNovaAltSemibold.eot");
  src: url("../fonts/MarkSimonsonProximaNovaAltSemibold.eot") format("embedded-opentype"), url("../fonts/MarkSimonsonProximaNovaAltSemibold.woff2") format("woff2"), url("../fonts/MarkSimonsonProximaNovaAltSemibold.woff") format("woff"), url("../fonts/MarkSimonsonProximaNovaAltSemibold.ttf") format("truetype"), url("../fonts/MarkSimonsonProximaNovaAltSemibold.svg#MarkSimonsonProximaNovaAltSemibold") format("svg");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/MarkSimonsonProximaNovaRegular.eot");
  src: url("../fonts/MarkSimonsonProximaNovaRegular.eot") format("embedded-opentype"), url("../fonts/MarkSimonsonProximaNovaRegular.woff2") format("woff2"), url("../fonts/MarkSimonsonProximaNovaRegular.woff") format("woff"), url("../fonts/MarkSimonsonProximaNovaRegular.ttf") format("truetype"), url("../fonts/MarkSimonsonProximaNovaRegular.svg#MarkSimonsonProximaNovaRegular") format("svg");
}

h1, h2, h3, h4, h5 {
  font-family: "ProximaNovaAltSemibold", arial, sans-serif;
}

h1 {
  font-size: 3.42857em;
}

h2 {
  font-size: 2.57143em;
}

h3 {
  font-size: 1.71429em;
}

h4 {
  font-size: 1.28571em;
}
